{% extends 'dndating/layout.html' %}

{% block body %}



<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <h3 class="mb-5">Edit Profile</h3>

                <form action="{% url 'edit' user.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Update Character Sheet</button>
                    </div>
            </form>
            <br>
            <form action="{% url 'close' user.id %}" method="POST">
              {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Close Profile</button>
            </form>


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}