{% extends 'dndating/layout.html' %}

{% block body %}
    <h1>About Us...</h1>
    <br/>
    <div id="home" class="container">
    <img src="https://cdn.shopify.com/s/files/1/0057/6408/7896/articles/DD-Logo_700x.jpg?v=1572377159" style="opacity: 0.5; width: 1100px; height:700px;">
    <div class="centered" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <h3><strong></strong>Dungeons & Dragons is a fantasy tabletop role-playing game . D&D departs from traditional wargaming by allowing each player to create their own character to play instead of a military formation.
        These characters embark upon adventures within a fantasy setting.</strong></h3>
    </div>
    </div>
    <br/>
    <h1>This website was created so players all around the world can form the perfect party and start an epic adventure!!!!. I am a new web developer self taught so this is not the best website in the world, please be kind, i will gladly take any comment in order
        to improve it. This is the post I saw that gave me the idea to create this website</h1>
        <img class="card-img-top" src="static/dnd/dnd.png" alt="Card image cap" style=" width: 500px; height:300px;">
        <br/>
        <br/>
        <h1><u>How to navigate:</u></h1>
    <ul>
        <h2><li>Fisrt you create a profile in the <strong>Create Profile</strong> category. You can input some information about yourself like the class, edition you want to play and a small discription and an image.</li></h2>

            <div class="row" style="display: flex;">
                    <img class="card-img-top" src="static/dnd/navbar.png" alt="Card image cap" style=" width: 500px; height:100px;">

                    <img class="card-img-top" src="static/dnd/info.png" alt="Card image cap" style=" width: 300px; height:500px;">
            </div>
            <br/>

        <h2><li>Then move to the <strong>Meet friends</strong> category were you can find the perfect party to team up. By clicking on the profile link you can see all the information that they put as well as and ways to communicate via facebook, instagram or discord!  </li></h2>
        <div class="row" style="display: flex;">
            <img class="card-img-top" src="static/dnd/navbar 2.jpg" alt="Card image cap" style=" width: 500px; height:100px;">
            <img class="card-img-top" src="static/dnd/profile.png" alt="Card image cap" style=" width: 300px; height:500px;">
            <img class="card-img-top" src="static/dnd/inprofile.png" alt="Card image cap" style=" width: 900px; height:500px;">
    </div>
    <br/>
    <h2><li>You can also edit your profile by clickng the edit button on the <strong>Meet friends</strong> category. You can easily find your profile by searching for it in the search bar.</li></h2>
    <img class="card-img-top" src="static/dnd/edit.png" alt="Card image cap" style=" width: 300px; height:500px;">
    <br/>
    <br/>
    <h2><li>If you are curently in a dnd group you can disable your profile by selecting the <strong>Close profile</strong> button located in the bottom of the edit page. When you are ready again to go into a new
    adventure you can rush into battle by creating a new profile.</li></h2>
    <img class="card-img-top" src="static/dnd/close.png" alt="Card image cap" style=" width: 200px; height:100px;">
    </ul>
    <br/>


    <h2><strong>And it is that simple! Now you can jump right into action with your perfect party of adventurers and have in your side great warriors and good friends!! Have fun new adventurer</strong></h2>


{% endblock %}